{% extends "main.html" %} 
{% block content %}
    <div clas="container">
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#loadMFR">Add new car manufactures
      </button>
      <label for="submit_form" class="btn btn-primary btn-lg"> Add models from checked car manufactures </label>
    </div>
    <div id="records">
      <H3> Here is the content of car makers database </H3>
<!-- If there are records in mfr_id table => show them all -->
        {% if curr_records %}
          <form id="load_model" method="POST" action='/initmodel'>
            <input type="submit" id="submit_form" class="hidden">
            <table>
            <!-- 
            The following commented piece is playing around with jQuery button instead of pure JS
            <input type="checkbox" name="mfr_id_all" id="toggle_all_checkbox">Select all with jQuery 
            -->
            <th>N</th><th>Country</th><th>MFR</th><th>MFR_commonname</th><th>Vehicle Type </th>
            <th> <input type="checkbox" name="mfr_id_all" id="toggle_all_checkbox" 
            onchange="toggleAll()"> Select all models</th>
            {% for record in curr_records %}
              <tr>
                <td>{{record.id}}</td>
                <td>{{record.country}}</td>
                <td>{{record.name}}</td>
                <td>{{record.commonname}}</td>
                <td>{{record.vehicle_type}}</td>
                <td><input type="checkbox" name="mfr_id" value="{{record.id}}"> </td>
              </tr>
            {% endfor %}
            </table>
          </form>
        <script>
          // JS to toggle all mfr_id checkboxes if mfr_if_all is clicked -->
          function toggleAll() {
            var checkboxes = document.getElementById("load_model").elements["mfr_id"];
            if (document.getElementById("load_model").elements["mfr_id_all"].checked == true) {
              for (var i=0; i<checkboxes.length; i++) {
                checkboxes[i].checked = true;
              }
            }
            else {
              for (var i=0; i<checkboxes.length; i++) {
                checkboxes[i].checked = false;
              }
            }
          };
        // End pure JS and same stuff in jQuery just for fun
        // var toggle_all = $("[name='mfr_id_all']");
        // var checkboxes = $("[name='mfr_id']");
        // toggle_all.on('change', function() {
        //   if (toggle_all[0].checked == true) {
        //     checkboxes.each (function (){this.checked = true});
        //   }
        //   if (toggle_all[0].checked == false)  {
        //     checkboxes.each (function () {this.checked = false});              
        //   }
        //   });
        </script>
        {% else %}
          <h4 style> No data is present in mfr db </h4>
        {% endif %}
    </div>
<!-- Modal for new Manufacture select -->
<div class="modal fade" id="loadMFR" tabindex="-1" role="dialog" aria-labelled="loadMFR">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class = "close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"> Load new manufactures in DB</h4>
      </div>
      <div class="modal-body">
        <form name='mfr_init' method = "POST" action="/initmfr">
          <H3> Enter the page number to load from VPIC website </H3>
          <input type="number" name = "page" min="1" max="100">
          <p> Delete old database table before updating with new values? </p>
          <input type="radio" name="drop_table" value="yes" checked> Delete old data <br>
          <input type="radio" name="drop_table" value="no"> Leave old data and append with new data <br>
          <input type="submit" action>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close window</button>
      </div>
    </div>
  </div>
</div>
<!-- Start welcome modal window -->
<div class="modal fade"  id="myModal" tabindex="-1" role="dialog" aria-labelled="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     <div class = "modal-header">
      <button type="button" class = "close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"> Welcome to application DB management</h4>
      </div>
      <div class="modal-body">
        In this window you can see what is currently loaded into application DB.
        Cars and makes are loaded from NHTSA API using JSON requests.
        After that, using Flickr API and search terms link to pics is loaded from Flickr.com
        Unfortunely, as many other free resources, data consistency is not really good and sometimes really strange data can getinto the DB.
        Though, the goal of this project is to demonstate general capabilites using Flask as a backend solution and working with AJAX in Python and this data set will suffice for that.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close window</button>
      </div>
      </div>
    </div>
  </div>
 <!-- Launching modal on page load  
  <script type="text/javascript">
      $(window).on('load', function()
      {
        $('#myModal').modal('show');
      });
    </script> -->
{% if new_records or total_records %}
<!-- If there is number of records passed => we called this template from initmfr procedure
and we display modal showing number of records appended -->
  <div class="modal fade"  id="recordModal" tabindex="-1" role="dialog" aria-labelled="recordLabelModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     <div class = "modal-header">
      <button type="button" class = "close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="recordLabelModal"> Database updated successfully!</h4>
      </div>
      <div class="modal-body">
        {{total_records}} of total records retrieved from NHTSA API <BR>
        {{new_records}} of records added to database of cars manufactures
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close window</button>
      </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(window).on('load', function()
      {
        $('#recordModal').modal('show');
      });
   </script> -->
{% endif %}
{% endblock %}